CairoSVG==1.0.9
Flask==0.10.1
Flask-FlatPages==0.5
Jinja2==2.7.3
MacFSEvents==0.3
Markdown==2.4.1
MarkupSafe==0.23
PyOpenGL==3.1.0b2
PyOpenGL-accelerate==3.1.0b2
PyPDT==0.3.1
PyYAML==3.11
Pygments==2.0.1
Twisted==13.2.0
Werkzeug==0.9.6
altgraph==0.10.2
argcomplete==0.5.4
argparse==1.2.1
bdist-mpkg==0.5.0
bonjour-py==0.3
cairocffi==0.5.4
cffi==0.8.6
doit==0.25.0
gunicorn==19.1.1
-e git+https://github.com/lukasheinrich/hepmcanalysis.git@a18e3050123deaac795126adbd650ca2035bdd35#egg=hepmcanalysis-master
ipython==0.13.2
itsdangerous==0.24
jrnl==1.9.0
keyring==4.0
macholib==1.5.1
massedit==0.66
matplotlib==1.3.1
matplotlib-venn==0.9
mcviz==0.1
memory-profiler==0.26
modulegraph==0.10.4
nose==1.3.0
numpy==1.8.0rc1
parsedatetime==1.4
pdfminer==20110515
pexpect==2.4
plasTeX==1.0
psutil==0.7.1
py2app==0.7.3
pyOpenSSL==0.13.1
pycparser==2.10
pyflakes==0.7.2
pyhepmc==0.5.0
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyparsing==2.0.1
python-dateutil==1.5
pytz==2014.4
readline==6.2.4.1
requests==2.3.0
rivet==2.1.2
ruffus==2.5
scipy==0.13.0b1
six==1.7.3
stevedore==0.15
sympy==0.7.4.1
tzlocal==1.1.1
vboxapi==1.0
virtualenv==1.9.1
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
wsgiref==0.1.2
xattr==0.6.4
yoda==1.1.0
zope.interface==4.1.1
